{:nrepl {:port 8777}

 :source-paths ["src" "test"]

 :dependencies
 [[reagent "1.0.0"]
  [re-frame "1.2.0"]
  [re-com "2.13.2"]
  [kee-frame "1.1.2"]
  [metosin/malli "0.5.1"]
  [binaryage/devtools "1.0.3"]]

 :dev-http
 {8280 "resources/public"
  8290 "target/browser-test"}

 :builds
 {:app
  {:target     :browser
   :output-dir "resources/public/js/compiled"
   :asset-path "/js/compiled"
   :modules
   {:app {:init-fn data-desk.core/init}}
   :devtools
   {:preloads []}
   :dev
   {:compiler-options
    {:closure-defines
     {re-com.config/root-url-for-compiler-output
      "http://localhost:8290/js/compiled/app/cljs-runtime/"}}}}}}
